[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/home/bfichera/bin/postsync

[Install]
WantedBy=default.target
